*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-list{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.header-list .clearfix{
    margin-left: 32px;
}
.header-list .card-tools{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
}